<%- include('partials/header.ejs')  %>


<body>







  
    <div class="container-flex">
        <%- include('partials/navbar-top.ejs')  %>

  
        <div class="clearfix"></div>

        <div class="jumbotron">
          <h1 class="display-4">Welcome to GabNews</h1>
          <p class="lead">This is a simple news publishing system made with node.js and express framework.</p>
          <hr class="my-4">
          <p>Send your PR. You are Welcome</p>
          <a class="btn btn-primary btn-lg" target="_blank" href="https://blogdogabrielnovaes.wordpress.com/sobre-mim/" role="button">Publish Now</a>
        </div>

    </div>
</body>

<%- include('partials/footer.ejs')  %>